<a href="https://colab.research.google.com/github/felixyuzhenyang/MSSP-6070-YuzhenYang/blob/main/PARTICIPATION_ACTIVITY_Week_2_YuzhenYang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PARTICIPATION ACTIVITY Week 2_YuzhenYang

Q2

In [21]:
# 2.a
spam = [2, 4, 6, 8, 10]

#2.b
spam[2] = 'hello'

print(spam)

[2, 4, 'hello', 8, 10]

Q3

In [22]:
# 3.a
letters = ['a', 'b', 'c', 'd']
letters[3]
# 3.b
print(f"'letters[int(int('3'*2)//11)]' evaluates to: '{letters[int(int('3'*2)//11)]}'") # See detailed explanation in comments.
# 3.c
print(f"'letters[-1]' evaluates to: '{letters[-1]}'") # See detailed explanation in comments.
# 3.d
print(f"'letters[:2]' evaluates to: {letters[:2]}") # See detailed explanation in comments.

'letters[int(int('3'*2)//11)]' evaluates to: 'd'
'letters[-1]' evaluates to: 'd'
'letters[:2]' evaluates to: ['a', 'b']

Q4

In [23]:
# list to tuple
list_nba = ['Jocic', 'LeBron', 'Doncic', 'SGA']
print(f"list_version: {list_nba}")

tuple_nba = tuple(list_nba)
print(f"tuple_version: {tuple_nba}")

# tuple to list
tuple_atp = ['Alcaraz', 'Sinner', 'Djokovic', 'Fritz']
print(f"tuple_version: {tuple_atp}")

list_atp = list(tuple_atp)
print(f"list_version: {list_atp}")

list_version: ['Jocic', 'LeBron', 'Doncic', 'SGA']
tuple_version: ('Jocic', 'LeBron', 'Doncic', 'SGA')
tuple_version: ['Alcaraz', 'Sinner', 'Djokovic', 'Fritz']
list_version: ['Alcaraz', 'Sinner', 'Djokovic', 'Fritz']

Q5

In [24]:
# define the required function
def comma_code_practice(items):

    if not items:
        return ""
    elif len(items) == 1:
        return str(items[0])
    else:
        formatted_string = ", ".join(str(item) for item in items[:-1])
        formatted_string += f", and {items[-1]}"
        return formatted_string

# test
spam = ['apples', 'bananas', 'tofu', 'cats']
result = comma_code_practice(spam)
print(f"New string: {result}")

New string: apples, bananas, tofu, and cats